name: test-github-actions

on: 
  push:
    branches: [dev]

jobs:
  build-to-master:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal access token.
          fetch-depth: 0 # otherwise, there would be errors pushing refs to the destination repository.
      - uses: actions/setup-node@v2
        with: 
          node-version: '14'
      - name: create local changes
        run: |
          cat test.txt
      - name: Commit files
        run: |
          git config --local user.email "huutam.ptnk@gmail.com"
          git config --local user.name "aleadinglight"
          git add .
          git commit -m "Add generated files" 
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
